ion-content {
   background-color: #333b5b;
}
.weather {
    background: #21B6A8;
    color: #21B6A8;
}
.temp {
    text-align: center;
    font-size: 70px;
    font-weight: normal;
}

.location, .tibo, .desc {
    text-align: center;
}

