<ion-header>

    <ion-navbar color="dark">
        <ion-title>List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
<!-- *ngFor pour l'utilisation dans les templates le * , directive strucutré-->
    <ion-list no-lines>

        <ion-item  *ngFor="let location of locations.data">
<ion-item>
<img src="http://signingsavvy.com/images/words/places/2/museum2.png" style="width:35px;height:35px">
          <ion-item  (click)="viewLocation($event, location)">{{location.title}}</ion-item>

        </ion-item>
       
            <ion-avatar item-left>
                <ion-icon name="pin"></ion-icon>
            </ion-avatar>
       <a>Distance en Kilomètre :</a>
          <!--   <h2>{{location.title}}</h2> -->
            <p>{{location.distance*1.609}} Km</p>
             <a>Temps de marche :</a>
           <p>{{((location.distance*1.609)/3)*60}} Minutes</p> 
        </ion-item>

    </ion-list>

</ion-content>